.controllerContainer {
  background: linear-gradient(
    0deg,
    rgba(255, 254, 250, 1) 0%,
    rgba(253, 218, 64, 1) 82%
  );
  height: 45rem;
  padding: 10px;
  width: 22rem;
  border-radius: 15px;
  border: 1px solid;
}

.heading {
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid #bbbbbb;
}

.btnContainer {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
  position: absolute;
  bottom: 50px;
  border-top: 2px solid;
  padding: 15px;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.search {
  padding: 12px;
  font-size: 16px;
  width: 18rem;
  border-radius: 8px;
  border: none;
  outline: none;
}
